@import "tailwindcss";

@theme {
  --color-primary-dark: #1A425A;
  --color-secondary-dark: #313234;
  --color-primary-blue: #3E8AB8;
  --font-display: 'DM Sans', sans-serif;
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: var(--font-display);
}
